.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  margin-top: .7em;
}

.ul li {
  float: right;
}
.a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Button styles */
.button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 56px;
  text-decoration: none;
  background-color: #E60965;
  border-radius: 5em;
  transition: 1s ease;
}

.button:hover {
  color: #000;
  background-color: #FFA1C9;
}

.main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  margin-top: 2em;
}

.main div h1{
  color: #F94892;
}

.main div p{
  color: #FFF;
  margin-bottom: -7px;
} 

.image_container {
  position: relative;
  width: 40%;
  height: 500px;
  background-color: #121820;
  margin-left: 8em;
  border-radius: 5em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
}

.div {
  width: 40%;
  margin-left: 7em;
  height: 500px;
}

.container_buttons {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
}
